{% extends "baseloggedin.html" %}
{% block title %}Rozsyłka maili dla głosowania "{{name}}"{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Rozsyłka maili dla głosowania "{{name}}"</h3>

        {% if planned_start_sending and not mailing_active %}
            <div class="card mt-4">
                <div class="card-body">
                        <form action="/admin/sendout/unplan?id={{ id }}" method="POST" class="m-2 d-flex flex-row justify-content-left align-items-center">
                                <div>
                                    <button type="submit" class="me-2 btn btn-warning"><i class="fas fa-ban"></i> Anuluj&nbsp;zaplanowaną&nbsp;wysyłkę</button>
                                </div>
                                <div class="mx-3">
                                    Rozpoczęcie wysyłki maili jest zaplanowane na <b>{{ planned_start_sending }}</b>. Od tego momentu maile z "Do wysłania" będą wysyłane, przechodząc do "Wysłano do".
                                </div>
                        </form>
                </div>
            </div>
        {% else %}
            {% if not mailing_active and not closed %}
                <div class="card mt-4">
                    <div class="card-body">
                            <form action="/admin/sendout/plan?id={{ id }}" method="POST" class="m-2 d-flex flex-row justify-content-left align-items-center">
                                    <div>
                                        <button type="submit" class="me-2 btn btn-warning" onclick=false><i class="fas fa-clock"></i> Zaplanuj&nbsp;wysyłkę</button>
                                    </div>
                                    <div class="mx-2">
                                        <input type="date" class="form-control mx-2" id="planSendoutDate" name="planSendoutDate">
                                    </div>
                                    <div class="mx-2">
                                        <input type="time" class="form-control mx-2" id="planSendoutTime" name="planSendoutTime">
                                    </div>
                                    <div class="mx-3">
                                        Zaplanowanie wysyłki spowoduje to samo co naciśnięcie przycisku "Aktywuj teraz" o wybranej godzinie. Aby rozsyłka się wtedy rozpoczęła, odbiorcy muszą być w kolumnie "Do wysłania".
                                    </div>
                            </form>
                    </div>
                </div>
            {% endif %}

            <div class="card mt-4">
                <div class="card-body">
                    <div class="d-flex justify-content-left align-items-center">
                        {% if mailing_active %}
                            <div class="m-2">
                                <button class="btn btn-danger" onclick="sendForm('sendout/deactivatemailing?id={{ id }}', {})">Deaktywuj</button>
                            </div>
                            <div class="ms-3">
                                Rozsyłanie maili z "do wysłania" jest aktywne. Maile z "do wysłania" są rozsyłane do odbiorców, przechodząc do "wysłano do". 
                            </div>
                        {% elif closed %}
                            <div class="ms-3">
                                Rozpoczęcie rozsyłki maili w tym głosowaniu nie jest możliwe ponieważ już się ono zakończyło
                            </div>
                        {% else %}
                            <div class="m-2">
                                <button class="btn btn-danger" onclick="if(confirm('Czy na pewno chcesz natychmiastowo rozpocząć wysyłkę maili z &quot;Do wysłania&quot;?')) sendForm('sendout/activatemailing?id={{ id }}', {})">Aktywuj&nbsp;teraz</button>
                            </div>
                            <div class="ms-3">
                                Rozsyłanie maili z "do wysłania" nie jest aktywne. Maile z "do wysłania" nie będą wysyłane. Naciśnięcie przycisku "Aktywuj teraz" rozpocznie natychmiastowo rozsyłkę maili.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-md mt-4">
                    <h4>Jeszcze nie wysłane</h4>
                    <div class="d-flex justify-content-left align-items-center">
                        <button class="btn btn-primary m-2" onclick="queueSelected()">Prenieś zaznaczone do "do wysłania"</button>
                        <button class="btn btn-primary m-2" onclick="queueAll()">Przenieś wszystkie do "do wysłania"</button>
                    </div>
                    <select id="possible_recipients" class="form-select" name="possible_recipients" multiple size="{{ possible_recipients | length }}" style="min-width: 150px">
                        {% for email_address in possible_recipients %}
                            <option value="{{ email_address }}">{{ email_address }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md mt-4">
                    <h4>Do wysłania</h4>
                    <select id="sending_out_to" class="form-select" name="sending_out_to" multiple size="{{ sending_out_to | length }}" style="min-width: 150px">
                        {% for email_address in sending_out_to %}
                            <option value="{{ email_address }}">{{ email_address }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md mt-4">
                    <h4>Wysłano do</h4>
                    <select id="sent_to" class="form-select" name="sent_to" multiple size="{{ sent_to | length }}" style="min-width: 150px">
                        {% for email_address in sent_to %}
                            <option value="{{ email_address }}">{{ email_address }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function selectedEmails() {
        const selected = document.querySelectorAll('#possible_recipients option:checked');
        return Array.from(selected).map(el => el.value);
    }
    function queueSelected() {
        const selected = selectedEmails();
        if(selected.length == 0) {
            alert('Nie wybrano żadnych adresów email')
            return;
        }
        sendForm("/admin/sendout/queueselected?id={{ id }}", { selected: JSON.stringify(selected) })
    }
    function queueAll() {
        sendForm("/admin/sendout/queueall?id={{ id }}", {})
    }
    function sendForm(action, data) {
        let form = document.createElement('form');
        form.method = "POST";
        form.action = action;
        form.style.display = 'none';
        for(let attrname in data) {
            let inp = document.createElement('input');
            inp.type = 'hidden';
            inp.name = attrname;
            inp.value = data[attrname];
            form.appendChild(inp);
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>
{% endblock %}
