<!doctype html>
<html>
<head>    
    <meta charset="UTF-8">
    <title>Edycja głosowania</title>
</head>    
<body>
    {% if sending_out_to_amount != 0 %}
        <h3 style="color: red">Nie można edytować głosowania ponieważ wiadomości zostały już wysłane lub zakolejnowane do {{ sending_out_to_amount }} osób</h3>
    {% endif %}
    Nazwa głosowania: <input type="text" id="pollName" value="{{ name }}"> <br /> <br />
    Opcje do wyboru:
    <table border=1>
        <thead>
            <tr>
                <td>Wybór</td>
                <td>Opis</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="pollOptionsTBody">
            {% for option in options %}
                <tr>
                    <td><input type="text" value="{{ option['name'] }}"></td>
                    <td><input type="text" value="{{ option['description'] }}"></td>
                    <td><button onclick="deleteRow(this)">Usuń</button></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan=3><button onclick="addRow(this)">Dodaj nową opcję</button></td>
            </tr>
        </tbody>
    </table>
    <br /> <br />

    Głosujacy (adresy email w nowych liniach): <br/> <textarea id="pollRecipients">{{ "\n".join(possible_recipients) }}</textarea> <br /> <br />
    Data zakończenia głosowania: <input type="date" id="pollClosesOnDate" value="{{ closes_on_date.split(" ")[0] }}"> <input type="time" id="pollClosesOnTime" value="{{ closes_on_date.split(" ")[1] }}"> <br /> <br />

    Treść maila:<br/>
    <textarea id="pollMailTemplate" rows=50 cols=90>{{mail_template}}</textarea>

    <br/><br/>

    {% if sending_out_to_amount != 0 %}
        <input type="submit" value="Zapisz głosowanie" disabled>
    {% else %}
        <input type="submit" value="Zapisz głosowanie" onclick="send()">
    {% endif %}

    <script>
        function deleteRow(el) {
            var row = el.parentNode.parentNode;
            document.getElementById('pollOptionsTBody').removeChild(row);
        }
        function addRow(el) {
            var row = el.parentNode.parentNode;
            var tr = document.createElement('tr');
            tr.innerHTML = '<td><input type="text"></td>';
            tr.innerHTML += '<td><input type="text"></td>';
            tr.innerHTML += '<td><button onclick="deleteRow(this)">Usuń</button></td>';
            document.getElementById('pollOptionsTBody').insertBefore(tr, row);
        }
        function val(elName) {
            return document.getElementById(elName).value; 
        }
        function sendForm(data) {
            let form = document.createElement('form');
            form.method = "POST";
            form.action = "?id={{poll_id}}";
            form.style.display = 'none';
            for(let attrname in data) {
                let inp = document.createElement('input');
                inp.type = 'hidden';
                inp.name = attrname;
                inp.value = data[attrname];
                form.appendChild(inp);
            }
            document.body.appendChild(form);
            form.submit();
        }
        function send() {
            let options = Array.from(document.getElementById('pollOptionsTBody').rows)
                    .filter(row => row.childElementCount != 1) // filter out the last row with the add button
                    .map(row => ({
                        name: row.children[0].getElementsByTagName('input')[0].value,
                        description: row.children[1].getElementsByTagName('input')[0].value,
                    }));
            let data = {
                name: val('pollName'),
                options: JSON.stringify(options),
                choiceType: 'multiple-choice',
                recipients: JSON.stringify(pollRecipients.value.split('\n').filter(email => email.length != 0).map(email => email.trim())),
                closesOnDate: val('pollClosesOnDate') + ' ' + val('pollClosesOnTime'),
                visibility: 'private',
                mailTemplate: 'pollMailTemplate'
            }
            sendForm(data)
        }
    </script>
</body>    
</html>

