{% extends "baseloggedin.html" %}
{% block title %}Edytowanie głosowania "{{name}}"{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% if sending_out_to_amount != 0 %}
            <div class="alert alert-warning mb-5" role="alert">
               <i class="fas fa-exclamation-triangle"></i> Nie można edytować głosowania ponieważ wiadomości zostały już wysłane lub zakolejnowane do wysłania do {{ sending_out_to_amount }} osób
            </div>
        {% endif %}

        <h3 class="mb-5">Edycja głosowania "{{name}}"</h3>

        Nazwa głosowania: <input type="text" class="form-control" id="pollName" placeholder="Wybory na prezydenta Rzeczypospolitej Polskiej" value="{{name}}" {{should_disable}}> <br /> <br />
        Opcje do wyboru:
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Wybór</th>
                            <th>Opis</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="pollOptionsTBody">
                        {% for option in options %}
                            <tr>
                                <td><input class="form-control" type="text" placeholder="Jan Kowalski" value="{{ option['name'] }}" {{should_disable}}></td>
                                <td><input class="form-control" type="text" placeholder="Wydział Architektury" value="{{ option['description'] }}" {{should_disable}}></td>
                                <td><button class="btn btn-danger" onclick="deleteRow(this)" {{should_disable}}><i class="fas fa-trash-alt"></i></button></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan=3><button class="btn btn-primary w-100" onclick="addRow(this)" {{should_disable}}><i class="fas fa-plus"></i> Dodaj nową opcję</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br /> <br />

        Głosujacy (adresy email w nowych liniach): <br/>
        <textarea class="form-control" id="pollRecipients" placeholder="1@student.pwr.edu.pl&#10;2@student.pwr.edu.pl&#10;..." rows=10 {{should_disable}}>{{ "\n".join(possible_recipients) }}</textarea>
        <br /> <br />
        <div class="d-flex justify-content-left align-items-center">
            Data zakończenia głosowania:
            <div class="col-md-3 ms-3">
                <input type="date" class="form-control" id="pollClosesOnDate" value="{{ closes_on_date.split(" ")[0] }}" {{should_disable}}>
            </div>
            <div class="col-md-3 ms-3">
                <input type="time" class="form-control" id="pollClosesOnTime" value="{{ closes_on_date.split(" ")[1] }}" {{should_disable}}>
            </div>
        </div>
        <br /> <br />

        Treść maila:<br/>
        <textarea id="pollMailTemplate" rows=37 cols=90 class="form-control" {{should_disable}}>{{ mail_template }}</textarea>
       
        <input type="submit" class="btn btn-success my-4 float-end" value="Zapisz głosowanie" onclick="send()" {{should_disable}}>
    </div>
</div>

    <script>
        function deleteRow(el) {
            var row = el.parentNode.parentNode;
            document.getElementById('pollOptionsTBody').removeChild(row);
        }
        function addRow(el) {
            var row = el.parentNode.parentNode;
            var tr = document.createElement('tr');
            tr.innerHTML = '<td><input class="form-control" type="text" placeholder="Jan Kowalski"></td>';
            tr.innerHTML += '<td><input class="form-control" type="text" placeholder="Wydział Architektury"></td>';
            tr.innerHTML += '<td><button class="btn btn-danger" onclick="deleteRow(this)"><i class="fas fa-trash-alt"></i></button></td>';
            document.getElementById('pollOptionsTBody').insertBefore(tr, row);
        }
        function val(elName) {
            return document.getElementById(elName).value; 
        }
        function sendForm(data) {
            let form = document.createElement('form');
            form.method = "POST";
            form.action = "?id={{poll_id}}";
            form.style.display = 'none';
            for(let attrname in data) {
                let inp = document.createElement('input');
                inp.type = 'hidden';
                inp.name = attrname;
                inp.value = data[attrname];
                form.appendChild(inp);
            }
            document.body.appendChild(form);
            form.submit();
        }
        function send() {
            let options = Array.from(document.getElementById('pollOptionsTBody').rows)
                    .filter(row => row.childElementCount != 1) // filter out the last row with the add button
                    .map(row => ({
                        name: row.children[0].getElementsByTagName('input')[0].value,
                        description: row.children[1].getElementsByTagName('input')[0].value,
                    }));
            let data = {
                name: val('pollName'),
                options: JSON.stringify(options),
                choiceType: 'multiple-choice',
                recipients: JSON.stringify(pollRecipients.value.split('\n').filter(email => email.length != 0).map(email => email.trim())),
                closesOnDate: val('pollClosesOnDate') + ' ' + val('pollClosesOnTime'),
                visibility: 'private',
                mailTemplate: val('pollMailTemplate')
            }
            sendForm(data)
        }
    </script>
{% endblock %}
