{% extends "baseloggedin.html" %}
{% block title %}Rozsyłka maili dla głosowania "{{name}}"{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Rozsyłka maili dla głosowania "{{name}}".</h3>

        <div class="card mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-left align-items-center">
                    {% if mailing_active %}
                        <div class="m-2">
                            <button class="btn btn-danger" onclick="sendForm('sendout/deactivatemailing?id={{ id }}', {})">Deaktywuj</button>
                        </div>
                        <div class="ms-3">
                            Rozsyłanie maili z "do wysłania" jest aktywne. Maile z "do wysłania" są rozsyłane do odbiorców, przechodząc do "wysłano do". 
                        </div>
                    {% else %}
                        <div class="m-2">
                            <button class="btn btn-danger" onclick="sendForm('sendout/activatemailing?id={{ id }}', {})">Aktywuj</button>
                        </div>
                        <div class="ms-3">
                            Rozsyłanie maili z "do wysłania" nie jest aktywne. Maile z "do wysłania" nie będą wysyłane. Naciśnięcie przycisku "Aktywuj" rozpocznie rozsyłkę maili.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md mt-4">
                    <h4>Jeszcze nie wysłane</h4>
                    <div class="d-flex justify-content-left align-items-center">
                        <button class="btn btn-primary m-2" onclick="queueSelected()">Prenieś zaznaczone do "do wysłania"</button>
                        <button class="btn btn-primary m-2" onclick="queueAll()">Przenieś wszystkie do "do wysłania"</button>
                    </div>
                    <select id="possible_recipients" class="form-select" name="possible_recipients" multiple size="{{ possible_recipients | length }}" style="min-width: 150px">
                        {% for email_address in possible_recipients %}
                            <option value="{{ email_address }}">{{ email_address }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md mt-4">
                    <h4>Do wysłania</h4>
                    <select id="sending_out_to" class="form-select" name="sending_out_to" multiple size="{{ sending_out_to | length }}" style="min-width: 150px">
                        {% for email_address in sending_out_to %}
                            <option value="{{ email_address }}">{{ email_address }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md mt-4">
                    <h4>Wysłano do</h4>
                    <select id="sent_to" class="form-select" name="sent_to" multiple size="{{ sent_to | length }}" style="min-width: 150px">
                        {% for email_address in sent_to %}
                            <option value="{{ email_address }}">{{ email_address }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function selectedEmails() {
        const selected = document.querySelectorAll('#possible_recipients option:checked');
        return Array.from(selected).map(el => el.value);
    }
    function queueSelected() {
        const selected = selectedEmails();
        if(selected.length == 0) {
            alert('Nie wybrano żadnych adresów email')
            return;
        }
        sendForm("/admin/sendout/queueselected?id={{ id }}", { selected: JSON.stringify(selected) })
    }
    function queueAll() {
        sendForm("/admin/sendout/queueall?id={{ id }}", {})
    }
    function sendForm(action, data) {
        let form = document.createElement('form');
        form.method = "POST";
        form.action = action;
        form.style.display = 'none';
        for(let attrname in data) {
            let inp = document.createElement('input');
            inp.type = 'hidden';
            inp.name = attrname;
            inp.value = data[attrname];
            form.appendChild(inp);
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>
{% endblock %}
