<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Głosowanie</title>
</head>
<body>
    <h2>{{ name }}</h2><br/>
    <form method="POST" action="vote">
        {% for option in options %}
            <input type="checkbox" id="option_{{loop.index0}}" name="option_{{loop.index0}}" value="{{option['name']}}">
            <label for="option_{{loop.index0}}">{{ option['name'] }} <small>{{ option['description'] }}</small></label>
            <br/>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
